*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
     padding: 0;
     margin: 0;
    }
body{
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
html{
scroll-behavior: smooth;
}
ul{
list-style: none;
}
a{
    text-decoration: none;
}
/* variables */
:root{
--main-color:#78c7ee;
--hover-color:#ff8f22;
--structure-color:#000;
--p-color:#9D9D9D;
--main-transition:.4s;
--main-title-color:#444;
--main-title-line-color:#cecece;
--main-paddidng:30px;
--main-line-height:1.8;
--border-colors: #b0b0b0;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
/* Large */
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
/* Medium */
@media (max-width:992px) {
    .container{
        width: 970px;
    }
}
/* Small */
@media (max-width:768px) {
    .container{
        width: 750px;
    }
}
/* Main title */
.main-title{
    color:var(--main-title-color) ;
    font-size: 40px;
    font-family: "Autour One", cursive;
    font-weight: bold;
    letter-spacing: 1px;
    width: fit-content;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
}
.main-title::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: var(--main-title-line-color);
    bottom:  -15px;
    left: 50%;
    transform: translateX(-50%);
}
/* Start Header */
/* Start Links row *****************************/
header{
    background-color: var(--structure-color);
    position: fixed;
    padding: 15px 0;
    width: 100%;
    z-index: 10000;
}
header .container{
position: relative;
display: flex;
align-items: center;
justify-content: space-evenly;
width: 100%;
height: 70px;
}
@media (max-width:991px) {
    header  {
        position: relative;
    }
}
@media (max-width:1199px) {
    header .container  {
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}
header .container .logo img{
    max-width: 100%;
}
@media (max-width:1199px) {
    header .container .logo {
        flex: 1;
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
}
header .container nav {
display: flex;
align-items: center;
}

header .container nav ul{
display: flex;
align-items: center;
}
@media (max-width:1199px) {
    header .container nav ul {
        display: block;
        position: absolute;
    top: calc(100% + 15px);
        background-color: var(--structure-color);
        width: 300px;
        left: -100%;
        height: calc(100vh - 100px);
        transition: var(--main-transition);
        border-top: 1px solid #444;
        z-index: 100;

    }
}
@media (max-width:767px) {
    header .container nav ul {
        width: 220px;
    }
}
header .container nav ul li a{ 
color: #fff;
font-family: autour one,cursive;
font-size: 16px;
padding: 20px 40px;
transition: var(--main-transition);
}
@media (max-width:1199px) {
    header .container nav ul li a {
        display: block;
        padding:35px 20px ;
    }
    header .container nav ul li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
    
}
header .container nav .list{
    left: 0;
    z-index: 100;
}
header .container nav .bars{
    position: relative;
    transition: .3s;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    cursor: pointer;

}
header .container nav ul li a:hover{
    color: var(--main-color);
}
header .container nav ul li  .active{
    color: var(--main-color);
}
header .container nav .bars span {
display: block;
position: absolute;
width: 30px;
height: 4px;
background-color: #FFF;
cursor: pointer;
transition: .3s;
left: 50%;
transform: translateX(-50%);

}
header .container nav .bars .line-one{
    top:30%;

}
header .container nav .bars .line-two{
top: 50%;
}

header .container nav .bars .line-three{
    top: 70%;

}

@media (min-width:1199px) {
    header .container nav .bars {
        display: none;
    }
}
/* First Rotate * *****************************/
header .container nav .first-rotate{
    transform: rotate(180deg);
}
header .container nav .first-rotate .line-one{
    transform: rotate(40deg);
    top: 16px;
    width: 20px;
}
header .container nav .first-rotate .line-two{
    top: calc(50% - 2px);
    width: 38px;
}
header .container nav .first-rotate .line-three{
    transform: rotate(-40deg);
    top: 30px;
    width: 20px; 
}



/* second Rotate * *****************************/
header .container nav .second-rotate {
    transform: rotate(0deg);
}
header .container nav .second-rotate .line-one{
   top: 30%; ;
}
header .container nav .second-rotate .line-two{
   top: 50%; ;
}
header .container nav .second-rotate  .line-three{
    top: 70%; ; 
}
header .container nav ul li:nth-child(2){
    position: relative;
}

/* List * *****************************/
header .container nav ul li .sub-list ul{
    display: block;
    position: absolute;
    top: 59px ;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 195px;
    background-color: var(--structure-color);
    transition: var(--main-transition) ;
    transition-timing-function:ease;
    opacity: 0;
    visibility: hidden;

}
header .container nav ul li:nth-child(2) .arrow{
    position: absolute;
    right: 0px;
    top: -23px;
    width: 40px;
    background-color: transparent;
    height: 62px;
}
header .container nav ul li:nth-child(2) .arrow span{
    position: absolute;
    background-color: #fff;
    width: 10px;
    top: 31px;
    height: 3px;
    right: 15px;
    cursor: pointer;
}
header .container nav ul li:nth-child(2) .arrow span:first-child{
    right: 18px;
    transform: rotate(-45deg);
}
header .container nav ul li:nth-child(2) .arrow span:last-child{
    right: 13px;
    transform: rotate(45deg);}


header .container nav ul li:nth-child(2) .sub-list .go-up{
    top: 59px ;
    opacity: 0;
    visibility: hidden;
}
header .container nav ul li:nth-child(2) .sub-list .go-down {
    top: 59px;
    opacity: 1;
    visibility: visible;
}


header .container nav ul li .sub-list ul li a{
    display: block;
    font-family: 'Open Sans', sans-serif;
    color:#FFF;
    padding: 8px 15px;  
    transition: .5s;
    text-align: center;
}
header .container nav ul li .sub-list ul li a:hover{
    color: var(--main-color);
}

@media (max-width:1199px) {
    header .container nav ul li:nth-child(2) .arrow{
        top: 11px;
    }
    header .container nav ul li:nth-child(2) .sub-list .go-down {
    top: 70px;
    left: 50%;
    width: 100%;
    }
    header .container nav ul li:nth-child(2) .sub-list .go-up{
        width: 100%;
        left: 50%;
    }
    header .container nav ul li .sub-list ul li a{
        padding: 7px 20px;
        text-align: start;
    } 
    header .container nav ul li .sub-list ul li:nth-child(2) .Testimonials {
        position: absolute;
        color: #fff;
        width: fit-content;
        right: 75px;
        top: 0;
        background-color: brown;
        transition: var(--main-transition);
        opacity: 0;
    }  
}
/* Testimonials  *****************************/
header .container nav ul li .sub-list ul li:nth-child(2){
    position: relative;
} 
header .container nav ul li .sub-list ul li:nth-child(2) .Testimonials{
    position: absolute;
    color: #fff;
    width: fit-content;
    right: 100%;
    top: -15px;
    background-color: var(--structure-color);
    transition: var(--main-transition);
    opacity: 0;
}
header .container nav ul li .sub-list ul li:nth-child(2):hover .Testimonials{
top: 0;
opacity: 1;
}
@media (max-width:1199px) {
    header .container nav ul li .sub-list ul li:nth-child(2) .Testimonials {
        left:165px ;
        top: 0;
        background-color: var(--structure-color);
    } 
    header .container nav ul li .sub-list ul li:nth-child(2):hover .Testimonials{
        top: 0;
        opacity: 1;
        left: 65px;
        } 
}
/* End Links row *****************************/
/* End Header */
.landing .img-one{
    width: 100%;
    height:100%;
}
.landing .img-one img{
    width: 100%;
    height:100%;
}
/* End Landing section ******************************/

/* Start Scroll button *****************************/
.up{
    text-transform: uppercase;
    position: fixed;
    right: 20px;
    bottom: 30px;
    transition: var(--main-transition);
    cursor: pointer;
    z-index: 10000;
    display: none;
}
.up:hover{
    opacity: .5;
}
/* End Scroll button  *****************************/
/* Start Landing section ******************************/

/* Start Forum ******************************/

.forum{
    padding-top: var(--main-paddidng);
    background-color: #fff;
    transform: translateY(-5%);    
    max-width:fit-content;
    margin: auto;
}
@media (max-width:1300px) {
    .forum{
        max-width: 900px;
    }
}
@media (max-width:991px) {
    .forum{
        max-width: 700px;
    }
}
@media (max-width:767px) {
    .forum{
    transform: translateY(-2%);
    max-width: 356px;
    }
}

.forum .container{
    max-width: 100%;
    background-color: #fff;
}

.forum .container  .box  {
background-color: #fff;
color: var(--main-title-color);
}
.forum  .buttons{
display: flex;
position: relative;
margin-bottom: 40px;
}
.forum  .buttons::before{
content: "";
position: absolute;
height: .5px;
background-color: #dddddd ;
width: calc(100%);
right: 0;
bottom: -8px;
}
.forum  .buttons .box a{
padding: 5px 20px;
color: var(--main-color);
border: 1px solid #dddddd ;
transition: var(--main-transition);
}
.forum .container .buttons .box a:hover{
color: var(--hover-color);
}
.forum .container .buttons .box a:first-child{
    border-color: #dddddd #dddddd white white;
}
.container .guest{
border: 1px solid #dddddd ;  
margin-bottom: 20px;
}
.forum  .container .guest h3{
color: var(--p-color);
margin-bottom: 15px;
}
.forum .container .guest h3 span{
color: var(--main-title-color);
}

.forum .container .guest form .login{
display: flex;
align-items: center;
margin:20px 0;
}
.forum .container .guest form  input[type="text"],
.forum .container .guest form  input[type="password"]{
padding: 5px;
border: 1px solid var(--p-color);
}

.forum .container .guest form .login input[type="submit"]:hover{
background-color: #3470e5;
}
.forum .container .guest form .login input[type="submit"]{
margin-left: 200px;
background-color: var(--main-color);
padding: 5px 10px;
color: #fff;
border: none;
cursor: pointer;
transition: var(--main-transition);
}
.forum .container .guest  form .login input[type="checkbox"]{
cursor: pointer;
}
.forum .container .guest form .login label{
margin-left: 5px;
color: var(--p-color);
}
.forum .container .guest form .links{
display: flex;
flex-direction: column;
align-items: flex-start;
}
.forum .container .guest  form .links a{
color: var(--main-color);
padding: 5px 0;
transition: var(--main-transition);
}
.forum .container .guest  form .links a:hover{
color: var(--hover-color);
}
.forum .container  .go{
display: flex;
flex-direction: column;
justify-content: space-between;
border: 1px solid var(--border-colors);
}

.forum .container .go .index{
display: flex;
align-items: center;
border: 1px solid var(--border-colors);

}

.forum .container .go .index i{
color: var(--p-color);
cursor: pointer;
}
.forum .container .go .index a{
padding: 10px;
color: var(--main-color);
transition: var(--main-transition);
}
.forum .container   .go .index  a:hover{
color: var(--hover-color);
}
.forum .container .go .search-box{
align-self: flex-end;
position: relative;
display: flex;
align-items: center;
}

.forum .container .go .search-box input[type="text"]{
padding: 5px;
color: var(--p-color);
border-radius: 4px;
border: 1px solid var(--p-color);
}
.forum .container .go .search-box span{
position: absolute;
color: var(--p-color);
right: 110px;
}
.forum .container .go .search-box a{
padding: 7px 20px;
border-radius: 4px;
color: #fff;
background-color: var(--main-color);
transition: var(--main-transition);
margin: 10px 20px;
}
.forum .container .go .search-box a:hover{
background-color: #3470e5;
}
.forum .container .go .search-box ul{
position: absolute;
top: 70px;
background-color: red;
}
.forum .container .main-forum {
border: 1px solid var(--border-colors);
}
.forum .container .main-forum .main-title ,
.forum .container .stats-forum .main-title {
text-align: start;
width: 100%;
margin: 40px 0 20px 15px;
font-size: 24px;
}
.forum .container .main-forum .main-title::after,
.forum .container .stats-forum .main-title::after{
display: none;
}
.forum .container .main-forum > p{
padding: 10px;
color: var(--p-color);
}
.forum .container .main-forum .content{
display: flex;
flex-direction: column;
}
.forum .container .main-forum .content .flex-box,
.forum .container .stats-forum  .stats-box{
display: flex;
align-items: center;
border: 1px solid var(--border-colors);
color: var(--p-color);
flex-basis: 60px;
}
.forum .container .main-forum .content .flex-box:first-child{
border-color: var(--border-colors) var(--border-colors) transparent var(--border-colors);

}
.forum .container .main-forum .content .flex-box .info{
    flex-basis: 530px;
}
@media(max-width:767px){
.forum .container .main-forum .content .flex-box .info p{
    display: none;
    
    }
    .forum .container .main-forum .content .flex-box .info{
        flex-basis: 350px;
    }
}

.forum .container .main-forum .content .flex-box .info h3{ 
color: var(--main-color);
cursor: pointer;
}
.forum .container .main-forum .content .flex-box .info h3:hover{ 
color: var(--hover-color);
}

.forum .container .main-forum .content .flex-box p{
font-size: 14px;
}
.forum .container .main-forum .content .flex-box > div{
font-size: 14px;
margin: 5px 10px;
}
.forum .container .main-forum .content .flex-box img{
max-width: 100%;

}
@media(max-width:767px){
    .forum .container .main-forum .content .flex-box img{
        display: none;
    }
    
}
.forum .container .main-forum .content .flex-box .topics,
.forum .container .main-forum .content .flex-box .replies{
align-self: stretch;
border: 1px solid ;
border-color:var(--border-colors) var(--border-colors) transparent var(--border-colors) ;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0;
flex-basis: 100px;
}
.forum .container .main-forum .content .flex-box .replies{
border-color: var(--border-colors) var(--border-colors) transparent transparent;
}
.forum .container .main-forum .content .flex-box .post p > a{
color: var(--main-color);
transition: var(--main-transition);
}
.forum .container .main-forum .content .flex-box .post p > a:hover{
color: var(--hover-color);
}
.forum .container .main-forum .content .flex-box .post{
    flex-basis: 255px;
}
@media(max-width:767px){
.forum .container .main-forum .content .flex-box .post p:nth-child(2),
.forum .container .main-forum .content .flex-box .post p:last-child{
display: none;
}
}
.forum .container .main-forum:last-child .content .flex-box .img,
.forum .container .stats-forum  .stats-box .img{
flex-basis: 70px;
display: flex;
justify-content: center;
align-items: center;
}
.forum .container .main-forum:last-child .content .flex-box .info {
margin:0;
border-left: 1px solid  var(--border-colors);
align-self: stretch;
flex: 1;
}
.forum .container .main-forum:last-child .content .flex-box .info p{
margin: 5px 10px;
}
.forum .container .main-forum:last-child .content .flex-box .info p:first-child{
margin-bottom: 20px;
}
.forum .container .main-forum:last-child .content .flex-box .info p:last-child span{
cursor: pointer;
}
.forum .container .main-forum:last-child .content .flex-box .info p:last-child span:first-child{
color: red;
}
.forum .container .main-forum:last-child .content .flex-box .info p:last-child span:nth-child(2){
color:brown;
}
.forum .container .main-forum:last-child .content .flex-box .info p:last-child span:nth-child(3){
color:blue;
}
.forum .container .main-forum:last-child .content .flex-box .info p:last-child span:nth-child(4){
color:#a39d49;
}
.forum .container .main-forum:last-child .content .flex-box .info p:last-child span:nth-child(5){
color:green;
}
.forum .container .main-forum:last-child .content .flex-box .info p:last-child span:last-child{
color:#333;
}

@media(max-width:767px){
/* .forum .container .main-forum:last-child .content .flex-box .img img{
display: flex;
} */
.forum .container .main-forum:last-child .content .flex-box .info p{
    display: block;
    font-size: 10px;
    }
}
/* End Forum ******************************/





.contaitner-area{
    position: relative;
}
.contaitner-area .black-area{
position: absolute;
width: 100%;
height: 200px;
top: -200px;
background-color: var(--structure-color);
z-index: -1;
}
/*Start Footer ******************************/
.footer{
    background-color:var(--structure-color); 
    position: relative;
    z-index: 1000;
    }
    .footer .container{
    max-width: 100%;
    text-align: center;
    color: #fff;
    padding: 30px;
    }


    /*End Footer ******************************/